[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	label-Verified = -1..+1 group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	push = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	read = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	rebase = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	removeReviewer = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	submit = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
[access "refs/heads/*"]
	create = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	push = +force group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	pushMerge = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	read = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
[access "refs/tags/*"]
	push = group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
	push = +force group user/ᴀ ɴ ᴅ ʀ ᴏ ꜱ ᴀ ᴘ ɪ ᴇ ɴ (Iam-AndroSapien)
